<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://www.spotify.com/" version="2.1.53" viewmodes="maximized">
  <access origin="index.html" subdomains="true"/>
  <access origin="https://api-partner.spotify.com/tvapp" subdomains="true"/>
  <access origin="*" subdomains="true"></access>
  <tizen:app-control>
    <tizen:src name="index.html" reload="disable"/>
    <tizen:operation name="http://samsung.com/appcontrol/operation/eden_resume"/>
  </tizen:app-control>
  <tizen:application id="rJeHak5zRg.Spotify" package="rJeHak5zRg" required_version="2.3"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <feature name="http://tizen.org/feature/tv.audio"/>
  <icon src="icon.png"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="false"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version" value="2.4"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/use.preview" value="bg_service"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/music.id.search.format"
                  value="{&quot;uri&quot;:&quot;%%CONTENT_ID%%&quot;,&quot;origin&quot;:&quot;music_id&quot;}"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/music.search.text.format"
                  value="{&quot;uri&quot;:&quot;spotify:search:%%ARTIST_NAME%%+%%TRACK_NAME%%&quot;,&quot;origin&quot;:&quot;music_search&quot;}"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/background.execution.support" value="true" />
  <tizen:metadata key="http://samsung.com/tv/metadata/vmdeeplink.support" value="true"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/continuity.support" value="true"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/Provider.ID" value="q3voa1im9e"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/MDE.contents.continuity" value="contents.continuity"/>
  <tizen:metadata key="http://spotify.com/tv/metadata/service_can_refresh" value="true"/>
  <tizen:metadata key="http://developer.samsung.com/tizen/metadata/bixby/companion-app/version" value="10000"/>
  <tizen:metadata key="http://developer.samsung.com/tizen/metadata/bixby/companion-app/action-id"
                  value="tvMediaControl.Restart,tvMediaControl.TrackPrevious,tvMediaControl.TrackNext,tvMediaControl.SkipBackward,tvMediaControl.SkipForward,tvMediaControl.SetPlayPosition,tvMediaControl.SetRepeat,tvMediaControl.SetShuffle"/>
  <tizen:metadata key="http://developer.samsung.com/tizen/metadata/bixby/sdk/version" value="v1.0-beta.1.0"/>
  <tizen:metadata key="http://developer.samsung.com/tizen/metadata/content-continuity/support" value="true"/>
  <tizen:metadata key="http://developer.samsung.com/tizen/metadata/media-panel/support" value="true"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/multitasking.support" value="true" />
  <tizen:metadata key="http://samsung.com/tv/metadata/settings/content.zoom.fill" value="disable" />
  <name>Spotify - Music and Podcasts</name>
  <tizen:privilege name="http://developer.samsung.com/privilege/drmplay"/>
  <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
  <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
  <tizen:privilege name="http://tizen.org/privilege/appdir.shareddata"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/datacontrol.consumer"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
  <tizen:privilege name="http://tizen.org/privilege/volume.set"/>
  <tizen:privilege name="http://tizen.org/privilege/package.info"/>
  <tizen:privilege name="http://tizen.org/privilege/application.info"/>
  <tizen:privilege name="http://tizen.org/privilege/mediacontroller.server"/>
  <tizen:profile name="tv"/>
  <tizen:service id="rJeHak5zRg.SpotifyService">
    <tizen:content src="service/recommendations/index.js"/>
    <tizen:name>SpotifyRecomendationsService</tizen:name>
    <tizen:description>Spotify recommendations service</tizen:description>
    <tizen:category name="http://tizen.org/category/service"/>
  </tizen:service>
  <tizen:setting pointing-device-support="disable"/>
</widget>
